body{
    background-color: grey;
     margin:0%;
     text-decoration: none;
}
header{
    color:grey ;
   font-size: 30px;
    font-style: italic;
    background-color: black;
    padding: 10px;
    text-align: center;
}
h1{
    font-size: 40px;
}
p{
font-size: 60px;
text-align:center;
}
ul{
    font-size: 40px;
    font-style:inherit;
    padding: 5px;
    display: flex;
    justify-content: center;
}
li{
    list-style-type: none;
   margin-left: 120px;
   margin-right: 120px;
   margin-top: 10px;
}
    .but{
        margin-bottom: 0;
        margin-top: 17.7%;
        height: 100px;
        width: 100%;
        background-color: black;
        color: white;
    }
    .port{
        float: left;
        margin-left: 5px;
    }
    .cert{
        float: right;
        margin-right: 5px;
    }
    .exp{
        float: right;
        margin-right: 2px;
    }
big{
    font-size: 25px;
}
pre{
    font-size: 20px;
}
h2{
    font-size: 35px;
    padding-left: 20px;
}
a{
    color: greenyellow;
}
a:hover{
    color: Red;
}
@media(min-width:200px) and (max-width:300px){
    body{
        display: inherit;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
.eduhead{
    font-size: 10px;
}
p{
    font-size: 12px;
}
pre{
    text-align: left;
    font-size: 8px;
}
big{
    font-size: 10px;
}
button{
    font-size: 14px;
}
}
@media(min-width:300px) and (max-width:500px){
    body{
        display: inherit;
        text-align: center;
        justify-content: center;
        width: 100%;
        height: 50%;
    }
    .eduhead{
        font-size: 13px;
    }
    p{
        font-size: 13px;
    }
    pre{
        text-align: left;
        font-size: 9px;
    }
    big{
        font-size: 12px;
    }
    button{
        font-size: 14px;
        margin-left: 5px;
    }}
@media(min-width:500px) and (max-width:700px){
    body{
        display: inherit;
        text-align: center;
        justify-content: center;
        width: 100%;
        height: 40%;
    }
    .eduhead{
        font-size: 20px;
    }
    p{
        font-size: 22px;
    }
    pre{
        text-align: left;
        font-size: 12px;
    }
    big{
        font-size: 18px;
    }
    h2{
        font-size: 30px;
    }
    button{
        margin-left: 10%;
        font-size: 20px;
    }}
@media(min-width:700px) and (max-width:900px){
    body{
        display: inherit;
        text-align: center;
        justify-content: center;
    }
    .eduhead{
        font-size: 30px;
    }
    p{
        font-size: 32px;
    }
    pre{
        text-align: left;
        font-size: 18px;
    }
    big{
        font-size: 20px;
    }
    h2{
        font-size: 40px;
    }
    button{
        margin-left: 10%;
        font-size: 24px;
    }
}
@media(min-width:900px) and (max-width:1100px){
    body{
        display: inherit;
        text-align: center;
        justify-content: center;
    }
    .eduhead{
        font-size: 40px;
    }
    p{
        font-size: 35px;
    }
    pre{
        text-align: left;
        font-size: 20px;
    }
    big{
        font-size: 30px;
    }
    button{
        margin-left: 10%;
        font-size: 34px;
    }
}