body{
    margin: 0;
    background-color: burlywood;
    text-decoration: none;
}
.menu{
    background-color: rgb(136, 136, 234);
   padding: 10px;
   font-size: 40px;
   text-align: center;
   justify-content: center;
}

/* span{
    float: right;
    padding-right: 10px;
}
a{
    text-align: right;
    display: inline-flex;
    justify-content: center;
} */
a{
    color: white;
}
a:hover{
    color: red;
}

big{
    font: 400;
    font-size: 30px;
}
pre{
    font-size: 25px;
}
 .but{
    margin-bottom: 0;
        margin-top: 29.6%;
        height: 100px;
        width: 100%;
        background-color: black;
        color:white;
}
.lowermenu{
    display: flex;
    font-size: 40px;
    font-style:inherit;
    padding: 5px;
    justify-content: center;
}
li{
    list-style-type: none;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 10px;
}
.pro{
    float: left;
    margin-left: 2%;
}
.por{
    float: right;
    margin-right: 3%;
}