body{
    margin: 0;
    background-color: burlywood;
    text-decoration: none;
}
.menu{
    background-color: rgb(136, 136, 234);
   padding: 10px;
   font-size: 40px;
   text-align: center;
   justify-content: center;
}
h1{
    justify-content: left;
}
/* span{
    float: right;
    padding-right: 10px;
}
a{
    text-align: right;
    display: inline-flex;
    justify-content: center;
} */
a{
    color: white;
}
a:hover{
    color: red;
}

big{
    font: 400;
    font-size: 30px;
}
pre{
    font-size: 25px;
}
 .but{
    padding-top: 50px;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 27%;
    height: 100px;
    width: 100%;
    background-color: black;
    color: white;
text-align: center;
justify-content: center;
}
.pro{
    float: left;
    margin-left: 2%;
}
.por{
    float: right;
    margin-right: 3%;
}