body{
    margin: 0;
    text-decoration: none;
    background-color: black;
}
.heading{
    background-color: aqua;
    color: black;
    padding: 1px;
font-size: 25px;
text-align: center;
justify-content: center;
margin: 0;
height: 100px;
width: 100%;
}
.about{
    color: aliceblue;
    font-size: 35px;
}
img{
    height: 250px;
    width: 250px;
    border-radius: 10px;
    margin: 20px;
}
.but{
    padding-top: 50px;
    font-size: 40px;
    margin-bottom: 0;
     margin-top: 13%; 
    height:100px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.523);
    color:black;
text-align: center;
justify-content: center;
}
.ind{
    float: left;
    margin-left: 2%;
}
.cert{
    float: right;
    margin-right: 3%;
}
a{
    color: black;
}
a:hover{
    color: red;
}
@media(min-width:200px) and (max-width:300px){
    body{
        margin: 0;
        display: inherit;
        text-align: center;
        justify-content: center;
    }
img{
    height: 70px;
    width: 70px;
    border-radius: 8px;
    justify-content: left;
}
button{
    font-size: 15px;
}
h1{
    font-size: 20px;
}
.about{
    font-size: 20px;
}}
@media(min-width:300px) and (max-width:500px){
    body{
        display: inherit;
        text-align: center;
        justify-content: center;
    }
    img{
        height: 120px;
        width: 120px;
        border-radius: 10px;
        justify-content: left;
    }
    button{
        font-size: 25px;
    }
    h1{
        font-size: 30px;
    }
    .about{
        font-size: 25px;
    }}
@media(min-width:500px) and (max-width:700px){
    body{
        display: inherit;
        text-align: center;
        justify-content: center;
    }
    img{
        height: 140px;
        width: 140px;
        border-radius: 15px;
        justify-content: left;
    }
    button{
        font-size: 25px;
    }
    h1{
        font-size: 30px;
    }
    .about{
        font-size: 30px;
    }}
@media(min-width:700px) and (max-width:900px){
    body{
        display: inherit;
        text-align: center;
        justify-content: center;
    }
    img{
        height: 170px;
        width: 170px;
        border-radius: 20px;
        justify-content: left;
    }
    button{
        font-size: 30px;
    }
    h1{
        font-size: 30px;
    }
    .about{
        font-size: 35px;
    }
}
@media(min-width:900px) and (max-width:1100px){
    body{
        margin: 0;
        display: inherit;
        text-align: center;
        justify-content: center;
    }
    img{
        height: 200px;
        width: 200px;
        border-radius: 20px;
        justify-content: left;
    }
    button{
        font-size: 35px;
    }
    h1{
        font-size: 50px;
    }
    .about{
        font-size: 45px;
    }
}